---
import Layout from "../layouts/Layout.astro"
import Badge from "../components/Badge.astro"
import LinkedInIcon from "../components/icons/LinkedIn.astro"
import GitHubIcon from "../components/icons/GitHub.astro"
import MailIcon from "../components/icons/Mail.astro"
import SocialPill from "../components/SocialPill.astro"
import Experience from "../components/Experience.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import Code from "../components/icons/Code.astro"
import Projects from "../components/Projects.astro"
---

<Layout
  title="albertsube - portfolio - Full-Stack Developer"
  description="+5 years of experience as a software engineer from Barcelona. Full-stack devoloper specialiced in leading projects with highly demanding customers."
>
  <main>
    <SectionContainer class="md:pt-20">
      <h1
        class="text-white text-4xl md:text-5xl font-bold
        flex justify-center items-center gap-4 pb-10
        flex-col md:flex-row"
      >
        Hey, I'm albertsube
        <a
          href="https://www.linkedin.com/in/albertsube/"
          target="_blank"
          rel="noopener"
          class="flex flex-col justify-center"
        >
          <Badge>Available for hire</Badge>
        </a>
      </h1>
      <h2 class="text-lg md:text-2xl text-wrap text-white/80">
        +5 years of experience as a software engineer from Barcelona.
        <span class="text-blue-400">Full-stack devoloper</span> specialiced in leading
        projects with highly demanding customers.
      </h2>

      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/albertsube/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/albertsube">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:albert.sune.belmonte@gmail.com">
          <MailIcon class="size-6" />
          albert.sune.belmonte@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2 class="flex gap-3 items-center text-3xl font-semibold mb-4">
        <Briefcase class="size-8" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2 class="flex gap-3 items-center text-3xl font-semibold mb-4">
        <Code class="size-8" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
