<section class="flex flex-col-reverse md:block items-center">
  <img
    src="/albertsube-about.webp"
    alt="About Me Image"
    class="rounded-full size-96 object-cover float"
  />

  <div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 text-pretty">
    <p>
      I’m Albert Suñé Belmonte, also known as <strong>albertsube</strong>. I
      started programming at the age of 14 as an after-school activity and have
      since committed to building a career in software development. In the past,
      I led software development teams on large-scale projects for demanding
      pharmaceutical companies, managing teams of up to 6 developers and
      delivering mission-critical systems valued at over $15M.
    </p>
    <p>
      With a background in <strong
        >Industrial Engineering and a Double Master’s Degree in Automation and
        Robotics</strong
      >, I began my career at Dara Pharma, where I developed reusable software
      libraries in R&D and later took on full project responsibility. This
      experience honed my skills in technical leadership, systems design, and
      building scalable, maintainable solutions—foundations I now apply to
      full-stack development.
    </p>
    <p>
      Currently, I work as a <strong>Full Stack Developer at Nimbel Code</strong
      >, where I lead the development of cross-platform applications for
      fast-growing startups. My tech stack includes <strong
        >React, Next.js, Astro, and Vite on the frontend</strong
      >. I manage application state with <strong>Zustand</strong>, handle
      complex forms with
      <strong>React Hook Form,</strong> and integrate services like <strong
        >Stripe and Firebase</strong
      >, including the emulator suite for local development.
    </p>
    <p>
      On the backend, I design and implement APIs with <strong>NestJS</strong>,
      manage relational data using <strong>TypeORM and PostgreSQL</strong>, and
      structure scalable, modular codebases. I also handle media asset
      management and delivery using Cloudinary and Cloudflare.
    </p>
    <p>
      In terms of UI/UX, I focus on building clean, responsive, and accessible
      interfaces using <strong>CSS, Tailwind CSS, and DaisyUI</strong>. I
      combine my engineering mindset with modern web technologies to deliver
      performant, reliable applications in fast-paced environments.
    </p>
  </div>
</section>

<style>
  @media (min-width: 768px) {
    .float {
      float: right;
      shape-outside: circle(30%);
      shape-margin: 2rem;
      margin: 6rem 0;
      padding: 2rem;
    }
  }
</style>
