<section class="flex flex-col-reverse md:block items-center">
  <img
    src="/albertsube-about.webp"
    alt="About Me Image"
    class="rounded-full size-96 object-cover float"
  />

  <div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 text-pretty">
    <p>
      My name is Albert Suñé Belmonte, also known as albertsube. I started
      programming when I was 14 as an after-school activity. Since then I
      decided I wanted to focus my career in software developement. Nowadays I'm
      <strong>leading software developement teams</strong> in projects for some of
      the most demanding pharmaceutical compannies.
    </p>

    <p>
      After finishing my <strong
        >bachellor degree in Industrial Engineering and a double master degree
        in Automatic and Robotics</strong
      >, I started working as an Automation Engineer in Dara Pharma. I started
      developing libraries in the R&D department and after 1 and a half years
      switched to project developement. There, I begun with small and medium
      projects but quickly transitioned to bigger ones. Thanks to my good
      performance I became Team Leader.
    </p>

    <p>
      As a Team Leader I have lead a team of up to 6 programmers in several
      projects applying <strong>SCRUM methodology</strong>. I also have been in
      charged of leading the software development of the two biggest projects of
      the company with a billing of +$15M each.
    </p>

    <p>
      During 2023 I also started my career as a Web Developer with master degree
      in <strong>Full-Stack Development</strong>.
    </p>
  </div>
</section>

<style>
  @media (min-width: 768px) {
    .float {
      float: right;
      shape-outside: circle(30%);
      shape-margin: 2rem;
      margin: 6rem 0;
      padding: 2rem;
    }
  }
</style>
