---
import ExperienceItem from "./ExperienceItem.astro";

const EDUCATION = [
  {
    title: "Master in Full-Stack Developement - Nuclio Digital School",
    description:
      "Gained hands-on experience building full-stack web applications using React.js, Node.js, Express.js, MongoDB, Mongoose, and Tailwind CSS. Developed expertise in modern frontend frameworks, backend API design, database modeling, and responsive UI/UX.",
    date: "October 2023 - March 2024",
  },
  {
    title:
      "Double Master Degree in Industrial Engineering and Automatics and Robotics - UPC",
    description:
      "Acquired strong analytical and problem-solving skills with an emphasis on automation, control systems, and software development principles. Honors in Pattern Recognition and Machine Learning provided foundational knowledge applicable to AI integration in software projects.",
    date: "September 2015 - October 2018",
  },
  {
    title: "Bachelor Degree in Industrial Engineering - UPC",
    description:
      "Solid grounding in mathematics, computer science, and engineering fundamentals, with honors in key subjects such as Linear Algebra, Calculus, Computer Science, and Optimization. Developed critical thinking and project management skills relevant to software development.",
    date: "September 2011 - June 2015",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EDUCATION.map((education) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...education} />
      </li>
    ))
  }
</ol>
