---
import ExperienceIcon from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    title: "Automation Team Leader - Dara Pharmaceutical Equipment",
    description:
      "Supervision from the initial phases of the project: mechanical design conceptualization and validation from an automation point of view and software architecture design. Leadership of automation projects for international clients: review of URS, technical overview during design phase, contact with suppliers, integration with customer systems, commissioning of projects “on-site”. Organization of the team’s activities and planning using Scrum methodology: product backlog, sprint planning and backlog, daily scrum meetings, sprint review. Technical leadership for the team members: smoothing the learning curve of new members, helping develop new skills for the team, unblocking problems to ensure meeting project schedule.",
    date: "January 2021 - Now",
  },
  {
    title: "Automation Engineer - Dara Pharmaceutical Equipment",
    description:
      "Programming and commissioning of PLC code for washing, sterilization, filling and closing machinery. Working with different formats of vials, cartridge, syringes and bags of solid, semi-solid and powder product on sterile conditions. Creation of HMI applications with a user-first approach working with different platforms (FactoryTalk ME/SE, Wonderware, zenon). Development of standard and reusable applications following a modular architecture, maintenance of current standard code and continuous improvement of the code to solve scalability and compatibility issues.",
    date: "April 2017 - December 2020",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceIcon {...experience} />
      </li>
    ))
  }
</ol>
