---
import GitHub from "./icons/GitHub.astro"
import LinkedIn from "./icons/LinkedIn.astro"
---

<footer
  class="rounded-lg shadow m-4 bg-black/10 backdrop-blur-lg w-full max-w-[1120px] mx-auto mt-20 mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="flex gap-x-4 text-sm sm:text-center text-blue-400"
      >© 2024 albertsube™
      <a
        href="https://www.linkedin.com/in/albertsube/"
        target="_blank"
        rel="noopener"
        class="hover:underline"
      >
        <LinkedIn class="size-4" />
      </a>
      <a
        href="https://github.com/albertsube"
        target="_blank"
        rel="noopener"
        class="hover:underline"
      >
        <GitHub class="size-4" />
      </a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0"
    >
      <li>
        <a href="/" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="/components" class="hover:underline me-4 md:me-6">Components</a
        >
      </li>
    </ul>
  </div>
</footer>
