<header class="flex justify-center fixed top-0 w-full z-50 blur-animate">
  <div
    class="flex justify-center sm:justify-between items-center p-5 w-[1120px]"
  >
    <img
      class="hidden sm:block rounded-full w-24 h-24 object-cover shrink-animate"
      src="/albertusbe-thumbnail.webp"
      alt="albertsube photo"
    />

    <nav class="flex flex-row opacity-80 gap-x-4
      sm:gap-x-10 sm:text-lg">
      <a class="hover:text-blue-400" href="#top">Home</a>
      <a class="hover:text-blue-400" href="#experience">Experience</a>
      <a class="hover:text-blue-400" href="#projects">Projects</a>
      <a class="hover:text-blue-400" href="#about">About</a>
      <a class="hover:text-blue-400" href="#contact">Contact</a>
    </nav>
  </div>
</header>

<style>
  .blur-animate {
    animation: blur-animation linear forwards;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }

  @keyframes blur-animation {
    to {
      backdrop-filter: blur(6px);
    }
  }

  .shrink-animate {
    animation: shrink-animation linear forwards;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }

  @keyframes shrink-animation {
    to {
      width: 3rem;
      height: 3rem;
    }
  }
</style>
