<header class="flex justify-center fixed top-0 w-full z-50 blur-animate">
  <div
    class="flex justify-center sm:justify-between items-center p-5 w-[1120px]"
  >
    <img
      class="hidden sm:block rounded-full w-12 h-12"
      src="https://media.licdn.com/dms/image/C4E03AQEMrSffNRF_eA/profile-displayphoto-shrink_400_400/0/1517449154303?e=2147483647&v=beta&t=pupmGrb2LPrPvkcYhpVqrTNCRfIYaxVU48mKjVEgaRo"
      alt="albertsube photo"
    />

    <nav class="flex flex-row opacity-80 gap-x-4
      sm:gap-x-10 sm:text-lg">
      <a class="hover:text-blue-400" href="#top">Home</a>
      <a class="hover:text-blue-400" href="#experience">Experience</a>
      <a class="hover:text-blue-400" href="#projects">Projects</a>
      <a class="hover:text-blue-400" href="#about">About</a>
      <a class="hover:text-blue-400" href="#contact">Contact</a>
    </nav>
  </div>
</header>

<style>
  .blur-animate {
    animation: blur-animation linear forwards;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }

  @keyframes blur-animation {
    to {
      backdrop-filter: blur(6px);
    }
  }
</style>
