---
import MenuIcon from "./icons/Menu.astro"
---

<header class="flex justify-center fixed top-0 w-full z-50 blur-animate">
  <div class="flex justify-between items-center p-5 w-[1120px]">
    <img
      class="hidden md:block rounded-full w-12 h-12"
      src="https://media.licdn.com/dms/image/C4E03AQEMrSffNRF_eA/profile-displayphoto-shrink_400_400/0/1517449154303?e=2147483647&v=beta&t=pupmGrb2LPrPvkcYhpVqrTNCRfIYaxVU48mKjVEgaRo"
      alt="albertsube photo"
    />

    <nav class="group peer">
      <button class="md:hidden">
        <MenuIcon />
      </button>
      <div
        class="hidden md:flex flex-col md:flex-row gap-x-10 opacity-80
        group-select:flex group-hover:flex"
      >
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </div>
    </nav>
  </div>
</header>

<style>
  .blur-animate {
    animation: blur-animation linear forwards;
    animation-timeline: scroll();
    animation-range: 0 400px;
  }

  @keyframes blur-animation {
    to {
      backdrop-filter: blur(6px);
    }
  }
</style>
